title: "My Portfolio"
email: ""
description: "Assignments and projects organized by grade and subject"
baseurl: "" 
url: "https://jas0nmc.github.io"

theme: jekyll-theme-primer

sass:
  style: compressed

plugins:
  - jekyll-feed

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: single
